<!-- navigation bar -->
<app-header></app-header>

<div class="container mt-3">
	<div class="row">
		<div class="col-12 mb-2">
			<h1>Shopping List</h1>
		</div>

		<div class="col">
			<!-- ingredients edit form -->
			<app-shopping-edit></app-shopping-edit>

			<hr>

			<!-- ingredients shopping list -->
			<div class="list-group ingredient-list">
				<button type="button"
						class="list-group-item list-group-item-action ingredient"
						*ngFor="let ingredient of ingredients; index as i"
						(click)="onEditIngredient(i)">{{ ingredient.name }} ({{ ingredient.amount }})</button>
			</div>
		</div>
	</div>
</div>
